body {
  height: 100%;
  overflow: hidden;
}

canvas {
  position: absolute;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100%;
}

.video {
  position: absolute;
  background: black;
  width: 100%;
  height: 100%;
  top: 0;
  right: 0;
}

.slide-up {
  -webkit-transform: translateY(-200px);
     -moz-transform: translateY(-200px);
      -ms-transform: translateY(-200px);
       -o-transform: translateY(-200px);
          transform: translateY(-200px);
}

.slide-left {
  -webkit-transition: all 1000ms cubic-bezier(0.075, 0.820, 0.165, 1.000);
     -moz-transition: all 1000ms cubic-bezier(0.075, 0.820, 0.165, 1.000);
       -o-transition: all 1000ms cubic-bezier(0.075, 0.820, 0.165, 1.000);
          transition: all 1000ms cubic-bezier(0.075, 0.820, 0.165, 1.000);

   -webkit-transition-timing-function: cubic-bezier(0.075, 0.820, 0.165, 1.000);
      -moz-transition-timing-function: cubic-bezier(0.075, 0.820, 0.165, 1.000);
        -o-transition-timing-function: cubic-bezier(0.075, 0.820, 0.165, 1.000);
           transition-timing-function: cubic-bezier(0.075, 0.820, 0.165, 1.000);

  -webkit-transform: translateX(-100%);
     -moz-transform: translateX(-100%);
      -ms-transform: translateX(-100%);
       -o-transform: translateX(-100%);
          transform: translateX(-100%);
}

.fade-in-scale {
  animation: fade-in-scale-frames ease 250ms;
  animation-iteration-count: 1;
  transform-origin: 50% 50%;
  animation-fill-mode:forwards; /*when the spec is finished*/
  -webkit-animation: fade-in-scale-frames ease 250ms;
  -webkit-animation-iteration-count: 1;
  -webkit-transform-origin: 50% 50%;
  -webkit-animation-fill-mode:forwards; /*Chrome 16+, Safari 4+ */
  -moz-animation: fade-in-scale-frames ease 250ms;
  -moz-animation-iteration-count: 1;
  -moz-transform-origin: 50% 50%;
  -moz-animation-fill-mode:forwards; FF 5+
  -o-animation: fade-in-scale-frames ease 250ms;
  -o-animation-iteration-count: 1;
  -o-transform-origin: 50% 50%;
  -o-animation-fill-mode:forwards; /*Not implemented yet*/
  -ms-animation: fade-in-scale-frames ease 250ms;
  -ms-animation-iteration-count: 1;
  -ms-transform-origin: 50% 50%;
  -ms-animation-fill-mode:forwards; /*IE 10+*/
}

.screen {
  position: absolute;
  top: 0px
  left: 0px;
  width: 100%;
  height: 100%;
}

.off {
  display: none;
}

#tap-to-start-text {
  color: white;
  font-size: 3rem;
  position: fixed;
  top: 50%;
  left: 50%;
  z-index: 2;
  -webkit-transform: translate(-50%, -50%);
     -moz-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
       -o-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.capture {
  display: flex;
  flex-direction: center;
  align-items: center; 
}

.capture .left {
  align-self: flex-start;

}

.capture .right {
  margin-left: auto;
}

#capture {
  position: absolute;
  top: 0px
  left: 0px;
  width: 100%;
  height: 100%;
  opacity: 1;
  -webkit-transition: all 1000ms cubic-bezier(0.075, 0.820, 0.165, 1.000); 
     -moz-transition: all 1000ms cubic-bezier(0.075, 0.820, 0.165, 1.000); 
       -o-transition: all 1000ms cubic-bezier(0.075, 0.820, 0.165, 1.000); 
          transition: all 1000ms cubic-bezier(0.075, 0.820, 0.165, 1.000);

  -webkit-transition-timing-function: cubic-bezier(0.075, 0.820, 0.165, 1.000); 
     -moz-transition-timing-function: cubic-bezier(0.075, 0.820, 0.165, 1.000); 
       -o-transition-timing-function: cubic-bezier(0.075, 0.820, 0.165, 1.000); 
          transition-timing-function: cubic-bezier(0.075, 0.820, 0.165, 1.000);
}

#capture-btns {
  position: absolute;
  width: 100%;
  padding: 10px;
  bottom: -200px;
  z-index: 2;
  -webkit-transition: all 1500ms cubic-bezier(0.075, 0.820, 0.165, 1.000);
     -moz-transition: all 1500ms cubic-bezier(0.075, 0.820, 0.165, 1.000);
       -o-transition: all 1500ms cubic-bezier(0.075, 0.820, 0.165, 1.000);
          transition: all 1500ms cubic-bezier(0.075, 0.820, 0.165, 1.000);

  -webkit-transition-timing-function: cubic-bezier(0.075, 0.820, 0.165, 1.000);
     -moz-transition-timing-function: cubic-bezier(0.075, 0.820, 0.165, 1.000);
       -o-transition-timing-function: cubic-bezier(0.075, 0.820, 0.165, 1.000);
          transition-timing-function: cubic-bezier(0.075, 0.820, 0.165, 1.000);
}

#reset-btn {
  float: left;
}

#done-btn {
  float: right;
}

#canvas-gradient {
  width: 100%;
  height: 100%;
  z-index: -1;
  background: rgb(173,217,228); /* Old browsers */
  background: -moz-linear-gradient(top, rgba(173,217,228,1) 0%, rgba(217,237,242,1) 60%, rgba(247,251,252,1) 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(173,217,228,1)), color-stop(60%,rgba(217,237,242,1)), color-stop(100%,rgba(247,251,252,1))); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, rgba(173,217,228,1) 0%,rgba(217,237,242,1) 60%,rgba(247,251,252,1) 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, rgba(173,217,228,1) 0%,rgba(217,237,242,1) 60%,rgba(247,251,252,1) 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top, rgba(173,217,228,1) 0%,rgba(217,237,242,1) 60%,rgba(247,251,252,1) 100%); /* IE10+ */
  background: linear-gradient(to bottom, rgba(173,217,228,1) 0%,rgba(217,237,242,1) 60%,rgba(247,251,252,1) 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#add9e4', endColorstr='#f7fbfc',GradientType=0 ); /* IE6-9 */
}

/* Review screen */
#review {
  position: absolute;
  top: 0px
  left: 0px;
  width: 100%;
  height: 100%;  
}

#review-btns {
  position: absolute;
  display: none;
  z-index: 2;
  width: 100%;
  padding: 10px;
  bottom: 0px;
}

#review-btns.fade-in-scale {
  display: inline;
}

#back-btn {
  float: left;
}

#upload-btn {
  float: right;
}

#upload {
  position: fixed;
  top: 50%;
  left: 50%;
  z-index: 2;
  -webkit-transform: translate(-50%, -50%);
     -moz-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
       -o-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

#upload-spinner {
  color: white;
  display: block;
}

.share {
  display: flex;
  flex-flow: column;
  height: 100%;
}

.share .header {
  margin-top: 2em;
  margin-bottom: 1em;
}

.share .content {
  flex: 2;
  overflow: auto;
}

.share .footer {
  min-height: 2em;
}

#share-nice-text {
  position: relative;
  text-align: center;
  margin-bottom: 0.25em;
  color: white;
  /*font-size: 20px;*/
  font-size: 2rem;
}

#share-methods {
  position: relative;
  text-align: center;
  /*margin-bottom: 0.25em;*/
}

#share-methods .fa {
  margin-left: 0.25em;
  margin-right: 0.25em;
  color: white;
}

#share-embed {
  position: relative;
  text-align: center;
  color: white;
  font-size: 20px;
}

#share-embed-text {
  margin-bottom: 0.25em;
}

#share-embed-code {
  text-align: left;
  width: 90%;
  display: inline-block;
}

#dim {
  position: absolute;
  background-color: black;
  display: none;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  opacity: 0.7;
}

#dim .show {
  z-index: 6;
  display: block;
}

#currentMedia {
    display: none;
}

@media (max-width: 720px) {
    // Make arrows in the carousel disappear...

    #currentMedia {
        max-width: 720px;
    }
}

@keyframes fade-in-scale-frames {
  0% {
    opacity:0;
    transform:  scaleX(0.75) scaleY(0.75);
  }
  100% {
    opacity:1;
    transform:  scaleX(1.00) scaleY(1.00) ;
  }
}

@-moz-keyframes fade-in-scale-frames {
  0% {
    opacity:0;
    -moz-transform:  scaleX(0.75) scaleY(0.75) ;
  }
  100% {
    opacity:1;
    -moz-transform:  scaleX(1.00) scaleY(1.00) ;
  }
}

@-webkit-keyframes fade-in-scale-frames {
  0% {
    opacity:0;
    -webkit-transform:  scaleX(0.75) scaleY(0.75) ;
  }
  100% {
    opacity:1;
    -webkit-transform:  scaleX(1.00) scaleY(1.00) ;
  }
}

@-o-keyframes fade-in-scale-frames {
  0% {
    opacity:0;
    -o-transform:  scaleX(0.75) scaleY(0.75) ;
  }
  100% {
    opacity:1;
    -o-transform:  scaleX(1.00) scaleY(1.00) ;
  }
}

@-ms-keyframes fade-in-scale-frames {
  0% {
    opacity:0;
    -ms-transform:  scaleX(0.75) scaleY(0.75) ;
  }
  100% {
    opacity:1;
    -ms-transform:  scaleX(1.00) scaleY(1.00) ;
  }
}


@media all and (min-width: 50px)   {  body  { font-size:0.1em;  } }
@media all and (min-width: 100px)  {  body  { font-size:0.2em;  } }
@media all and (min-width: 200px)  {  body  { font-size:0.4em;  } }
@media all and (min-width: 300px)  {  body  { font-size:0.6em;  } }
@media all and (min-width: 400px)  {  body  { font-size:0.8em;  } }
@media all and (min-width: 500px)  {  body  { font-size:1.0em;  } }
@media all and (min-width: 600px)  {  body  { font-size:1.2em;  } }
@media all and (min-width: 700px)  {  body  { font-size:1.4em;  } }
@media all and (min-width: 800px)  {  body  { font-size:1.6em;  } }
@media all and (min-width: 900px)  {  body  { font-size:1.8em;  } }
@media all and (min-width: 1000px) {  body  { font-size:2.0em;  } }
@media all and (min-width: 1100px) {  body  { font-size:2.2em;  } }
@media all and (min-width: 1200px) {  body  { font-size:2.4em;  } }
@media all and (min-width: 1300px) {  body  { font-size:2.6em;  } }
@media all and (min-width: 1400px) {  body  { font-size:2.8em;  } }
@media all and (min-width: 1500px) {  body  { font-size:3.0em;  } }
@media all and (min-width: 1500px) {  body  { font-size:3.2em;  } }
@media all and (min-width: 1600px) {  body  { font-size:3.4em;  } }
@media all and (min-width: 1700px) {  body  { font-size:3.6em;  } }